{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="row">
  {% comment %}
    Боковой блок со списком технологий 
    Займет всю ширину блока на мобильном
    и 25% при размерах экрана ≥768px
  {% endcomment %}
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h2>Привет!</h2>
        Меня зовут Александр 
      </li>
      <li class="list-group-item">
        <a href=https://vk.com/roy_aleksandr target=”_blank”>Я ВКонтакте</a>
      </li>
      <li class="list-group-item">
        <a href=https://github.com/RoiAlexandr target=”_blank””>Мой GitHub</a>
      </li>  
      <img src="{% static 'img/my_foto1.jpg' %}" width="200" height="200" align="center" border="2" hspace="10" vspace="10" class="round" />
    </ul>
  </aside>
  {% comment %}
    Статья  
    Займет всю ширину блока на мобильном
    и 75% при размерах экрана ≥768px
  {% endcomment %}
  <article class="col-12 col-md-9">
    <p><h2 align="center">"Обо мне"</h2></p>
    <p align="center">Я учусь на курсах по специальности Python в Яндекс практикуме.</p>
    <p align="center">Люблю путишествовать и увлекаюсь разработкой сайтов.</p>
    <p align="center">От курсов хочу получить новые знания, и возможно сменить работу.</p>
    
  </article>
</div>
{% endblock %} 